:root {
    --color-primary: #3b82f6;
    --color-primary-light: #bfdbfe;
    --color-text-primary: #0f172a;
    --color-text-secondary: #334155;
    --color-black: #000000;
    --color-border: #404040;
    --color-background: #ffffff;
}