@import "@/styles/variable.css";

.orgcard {
    background: white;
    /* border: 1px solid var(--color-border); */
    border-radius: 14px;
    padding: 1.5rem;
    cursor: pointer;
    transition: all 0.25s ease;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    /* filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.06)); */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05),
        0 4px 8px rgba(0, 0, 0, 0.8);
}

.orgcard:hover {
    transform: translateY(-2em);
    filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.1));
}

.orgcard--active {
    border-color: var(--color-primary);
    box-shadow: 0px 0px 0px 2px rgba(50, 115, 245, 0.5);
}

/* Icon */
.orgcard__icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.orgcard__icon-arrow {
    color: white;
    font-size: 1.2rem;
}

/* Text */
.orgcard__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-text-primary);
}

.orgcard__subtitle {
    font-size: 0.9rem;
    color: var(--color-text-secondary);
    margin-top: -6px;
}

.orgcard__list {
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.orgcard__list li {
    font-size: 0.9rem;
    color: var(--color-text-secondary);
    margin-bottom: 0.25rem;
}