/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import "@/styles/variable.css";

.sidenav {
    width: 220px;
    /* height: 100vh; */
    padding: 24px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background: #ffffff;
    color: var(--color-text-primary);
}

/* Header */
.sidenav__header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    gap: 8px;
    margin-bottom: 48px;
}

.sidenav__logo {
    font-size: 22px;
    font-weight: 600;
}

.sidenav__sub_logo {
    font-size: 12px;
    font-weight: 400;
}


/* Links */
.sidenav__links {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 20px;
}

.sidenav__links a {
    position: relative;
    padding: 6px 10px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--color-black);
    overflow: hidden;
    transition: color 0.25s ease;
}

/* Hover background layer */
.sidenav__links a::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--color-text-primary);
    /* solid dark fade */
    opacity: 0;
    transform: translateX(-15px);
    transition: opacity 0.7s ease, transform 0.7s ease;
    z-index: 0;
    /* behind the text */
}

/* Slide + fade in */
.sidenav__links a:hover::before {
    opacity: 1;
    transform: translateX(0);
}

/* Text above the background */
.sidenav__links a span {
    position: relative;
    z-index: 1;
}

/* Text becomes white on hover */
.sidenav__links a:hover span {
    color: white;
}