/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import "@/styles/variable.css";

.sidenav {
    width: 220px;
    /* height: 100vh; */
    padding: 24px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background: #ffffff;
    color: var(--color-text-primary);
}

/* Header */
.sidenav__header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 48px;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

/* Links */
.sidenav__links {
    display: flex;
    flex-direction: column;
    gap: 22px;
    /* matches the screenshot spacing */
    margin-top: 20px;
}

.sidenav__links a {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-black);
}

.sidenav__links a:hover {
    opacity: 0.6;
}