@import "@/styles/variable.css";

.card {
    background: white;
    padding: 2rem;
    border-radius: 14px;
    border: 1px solid var(--color-border);
    max-width: 850px;
    margin: 0 auto 4rem auto;

    /* elegant bottom shadow */
    filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.08));
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    color: var(--color-text-primary);
}

.card__core {
    margin-top: 1rem;
    color: var(--color-text-secondary);
    line-height: 1.6;
}

.card__section {
    margin-top: 2rem;
}

.card__heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.card__list {
    margin-left: 1.2rem;
    line-height: 1.7;
    color: var(--color-text-secondary);
}

.card__table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

.card__table td {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--color-border);
}

.group {
    font-weight: 600;
}